
.contacts {
    display: flex;
    justify-content: center;
    background: $black_bg;
    padding: 0 30px;
    
    
    .container {
        width: $mediaMD;
        display: flex;
        justify-content: space-around;
        padding: 50px 0;
    }
    .description {
        width: 200px;
        align-items: flex-start;
        text-align: center;

        h2 {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 2px;
            margin-bottom: 10px;
            }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 5px;
        }    

    }
    .contacts_list {
        font-size: 20px;
        line-height: 2;
        font-family: 'EB Garamond', serif;
        text-align: center;
        h2 {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 2px;
           
            margin-bottom: 10px;
        }
        address {
            margin-bottom: 15px;

        }
        .phone {
            margin-bottom: 5px;
        }
        a {
            padding: 0 0px;
            color: #FFFFFF;
            text-decoration: underline;
            align-items: center;
            transition: all 1s ease-out;
        }
        .phone a:after {
            content: '';
            width: 25px;
            height: 25px;
            position: absolute;
            margin: 5px 10px;
            background-size: contain;
            background-position: center;
            background-image: url(img/telegram.png);
            align-items: center;
    
        }
    }
    .instagram_footer :after {
            content: '';
            width: 25px;
            height: 25px;
            position: absolute;
            margin: 10px 10px;
            background-size: contain;
            background-position: center;
            background-image: url(img/instargam_icon.png);
            align-items: center;
        }
    

    .work_time {
        width: 200px;
        font-size: 16px;
        font-family: 'EB Garamond', serif;
        text-align: center;
        h2 {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 2px;
            // text-align: center;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 5px;
        }
        
    }  
}
.address a:hover,
.phone a:hover,
.instagram_footer a:hover {
    color: 	#FFD700;
    transition: all 1s ease-out;
    }
// .work_time  p:after {
//             content: '';
//             width: 25px;
//             height: 25px;
//             position: absolute;
//             margin: 5px 10px;
//             background-size: contain;
//             background-position: center;
//             background-image: url(/img/24_7.png);
//             align-items: center;
        
//     }

@media (max-width:$mediaSM) {
    .contacts {
            display: flex;
        
        .container {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-start;
            
        }
        .description {
            margin-left: 0px;
            text-align: left;

        h2 {
            margin-left: 0px;
            text-align: left;
            font-size: 15px;
            margin-bottom: 0px;
            
            }
        p {
            margin-left: 0px;
            text-align: left;
            font-size: 15px;
            
        }    

    }
    .contacts_list {
            align-items: flex-start;
            text-align: left;
            
            h2 {
                text-align: left;
                font-size: 15px;
                
            }
            p {
                
                text-align: left;
                font-size: 15px;
            
            }   
            address {
                text-align: left;
                padding: 0 0;
                font-size: 15px;

            }
            .phone {
                text-align: left;
                padding: 0 0;
                font-size: 15px;
            }
            a {
                
                text-align: left;
                padding: 0 0;
                font-size: 15px;
            }
            .phone a:after {
                
        
            }
    }
            .work_time {
           display: contents;
           text-align: left;

            h2 {
            text-align: left;
            font-size: 15px;
            margin-bottom: 0px;
        }
            p {
            text-align: left;
            font-size: 15px;
        }
        
    }  
    .instagram_footer :after {
            
            margin: 0px 10px;
           
        }
    }
}