.infoBlock {
    display: flex;
    justify-content: center;
    
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 100px 0;

        h2 {
            font-weight: 400;
            font-family: 'PT Serif', serif;
            color: #ffffff;
            font-size: 55px;
            margin-bottom: 30px;
        }
        p {
            width: 650px;
            font-weight: 400;
            font-style: italic;
            font-family: 'PT Serif', serif;
            color: #ffffff;
            font-size: 18px;
            line-height: 1.6;
            text-align: center;
        }
    }
    .image {
        flex: 1;
    }
    .infoBlockDescriptions-1 {
        background: url('img/bg_2.jpg');
    }
    .infoBlockDescriptions-2 {
        background: url('img/bg_3.jpg');
    }
    .infoBlockImage-1 {
        background: url('img/img_1.jpg') no-repeat;
        background-size: cover;
        background-position: 0;
    }
    .infoBlockImage-2 {
        background: url('img/img_2.jpg');
        background-size: cover;
        background-position: 0;
    }
}
